<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:replace="admin/head::head"></head>

<body>
    <div th:replace="admin/header::header"></div>
    <div th:replace="admin/banner::banner"></div>
    <div th:replace="admin/about::about"></div>
    <div th:replace="admin/gallery::gallery"></div>
    <div th:replace="admin/service::service"></div>
    <div th:replace="admin/testimonial::testimonial"></div>
    <div th:replace="admin/contact::contact"></div>
    <div th:replace="admin/footer::footer"></div>
</body>
</html>