<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:replace="customer/head::head"></head>
<body>
    <div th:replace="customer/header::header"></div>
    <div th:replace="customer/banner::banner"></div>
    <div th:replace="customer/gallery::gallery"></div>
    <div th:replace="customer/service::service"></div>
    <div th:replace="customer/testimonial::testimonial"></div>
    <div th:replace="customer/contact::contact"></div>
    <div th:replace="customer/footer::footer"></div>
</body>
</html>