<!-- footer section start -->
<div th:fragment="footer" class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h3 class="useful_text">About</h3>
                <p class="footer_text"></p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h3 class="useful_text">Menu</h3>
                <div class="footer_menu">
                    <ul>
                        <li><a th:href="@{/customer}">Home</a></li>
                        <li><a th:href="@{/customer}">About Us</a></li>
                        <li><a th:href="@{/customer}">Gallery</a></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                        <li><a th:href="@{/customer}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="useful_text">Useful Link</h1>
                <p class="dummy_text"></p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="useful_text">Contact Us</h1>
                <div class="location_text">
                    <ul>
                        <li>
                            <a th:href="@{/customer}">
                                <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address : Ha Noi</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/customer}">
                                <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call : +84 351248987</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/}">
                                <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : dodiu153@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">2023 All Rights Reserved. Design by DiuDT</a></p>
    </div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
<script th:src="@{/js/plugin.js}"></script>
<!-- sidebar -->
<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>